{% extends '@Agence/layout.html.twig' %}
{% block title %}{{ "typebien.ajouter.modifier" | trans }}{% endblock %}

{% block content %}
        {{ form_start(form) }}

        <div class="error">{{ form_errors(form) }}</div>
        <table>
            <tr>
                <td> {{ form_label(form.nomType, "typebien.nomType" | trans ) }}</td>
            </tr>
            <tr>
                <td> {{ form_errors(form.nomType) }} {{ form_widget(form.nomType) }}</td>
            </tr>

        </table>
        {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}