{% extends '@Agence/layout.html.twig' %}
{% block title %} {{ bien.nomBien }} {% endblock %}
{% block content %}

<p>{{ "bien.dateConstruction" | trans }} : {{ bien.dateConstruction|date('d/m/Y') }}</p>

<p>{{ "bien.prix" | trans }} : {{ bien.prix }} €</p>

<p>{{ "bien.typeBien" | trans }} {{ bien.types.nomType }}</p>

<p>{{ "bien.visiteurs.inscrits" | trans }} :</p>
<ul>
    {% for visiteur in bien.visiteurs %}
        <li>{{ visiteur.nom }} - {{ visiteur.prenom }}</li>
    {% else %} 
        <li>{{ "visiteur.liste.empty" | trans }}</li>
    {% endfor %}
</ul>


<p>{{ "bien.achats" | trans }} :</p>
<ul>
    {% for achat in bien.achat %}
        <li>{{ achat.dateAchat|date('d/m/Y') }} - {{ achat.proprietaires.nom }} {{ achat.proprietaires.prenom }}</li>
    {% else %} 
        <li>{{ "achat.liste.empty" | trans }}</li>
    {% endfor %}
</ul>


</br>
<a href="{{ path('agence_bien_lister') }}">{{ "bien.liste.retour" | trans }}</a>
{% endblock %}